<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8"/>
    <title>Poseidon</title>
    <link rel="stylesheet" type="text/css" href="../../css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="/assets/logo.png" alt="" width="60" height="48" class="d-inline-block align-text-top">
        <span class="logo-text font-weight-bold"
              style="font-size: 20px; color: #071226">Poseidon Capital Solutions</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bidList/list">Bid List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/curvePoint/list">Curve Points</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rating/list">Ratings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trade/list">Trade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ruleName/list">Rule</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link font-weight-bold" href="/DBUser/list">User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger font-weight-bold" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <h5>Welcome to the admin-only user management section where you can create, edit or delete users and their
        permissions.</h5>
    <div class="row">
        <div class="col-md-6" sec:authorize="isAuthenticated()">
            <p class="logged-in-user">You are currently logged in as: <b th:inline="text" class="user">[[${#authentication.name}]].</b>
                Not your account? Please log out!</p>
            <form th:action="@{/logout}" method="POST" class="d-inline">
                <input type="submit" value="Logout" class="btn btn-outline-danger"/>
            </form>
        </div>
    </div>
</div>

<div class="container mt-3">
    <div class="row mt-3"><h2>User List</h2></div>
    <div class="row">
        <a href="/DBUser/add" class="btn btn-primary btn-sm mb-3">Add New</a>
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Id</th>
                <th>Full Name</th>
                <th>User Name</th>
                <th>Role</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="DBUser : ${users}">
                <td style="width: 10%" th:text="${DBUser.id}"></td>
                <td th:text="${DBUser.fullName}"></td>
                <td th:text="${DBUser.username}"></td>
                <td style="width: 25%" th:text="${DBUser.role}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/DBUser/update/{id}(id=${DBUser.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/DBUser/delete/{id}(id=${DBUser.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>