<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <meta charset="utf-8"/>
    <title>Home</title>
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
</head>
<body>
<div class="container py-4">
    <div class="row align-items-center">
        <div class="col-md-6">
            <ul class="nav">
                <li class="nav-item"><a class="nav-link" href="/bidList/list">Bid List</a></li>
                <li class="nav-item"><a class="nav-link" href="/curvePoint/list">Curve Points</a></li>
                <li class="nav-item"><a class="nav-link" href="/rating/list">Ratings</a></li>
                <li class="nav-item"><a class="nav-link" href="/trade/list">Trade</a></li>
                <li class="nav-item"><a class="nav-link" href="/ruleName/list">Rule</a></li>
            </ul>
        </div>
        <div class="col-md-6 text-right" sec:authorize="isAuthenticated()">
            <div class="d-flex justify-content-end align-items-center">
                <p class="logged-in-user mb-0 mr-2">Logged in user: <b th:inline="text" class="user">[[${#authentication.name}]]</b></p>
                <form th:action="@{/logout}" method="POST" class="form-inline">
                    <input type="submit" value="Logout" class="btn btn-outline-danger"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row"><h2>Rating List</h2></div>
    <div class="row">
        <a href="/rating/add" class="btn btn-primary btn-sm">Add New</a>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Id</th>
                <th>MoodysRating</th>
                <th>SandPRating</th>
                <th>FitchRating</th>
                <th>Order</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rating : ${ratings}">
                <td style="width: 10%" th:text="${rating.id}"></td>
                <td th:text="${rating.moodysRating}"></td>
                <td th:text="${rating.sandPRating}"></td>
                <td th:text="${rating.fitchRating}"></td>
                <td th:text="${rating.orderNumber}"></td>
                <td style="width: 15%" class="text-center">
                    <a th:href="@{/rating/update/{id}(id=${rating.id})}">Edit</a>&nbsp;|&nbsp;
                    <a th:href="@{/rating/delete/{id}(id=${rating.id})}">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>