<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
    <title>Poseidon Capital Solutions</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <img src="/assets/logo.png" alt="" width="60" height="48" class="d-inline-block align-text-top">
        <span class="logo-text font-weight-bold"
              style="font-size: 20px; color: #071226">Poseidon Capital Solutions</span>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/bidList/list">Bid List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/curvePoint/list">Curve Points</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/rating/list">Ratings</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trade/list">Trade</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/ruleName/list">Rule</a>
                </li>
                <li class="nav-item" sec:authorize="hasAuthority('ROLE_ADMIN')">
                    <a class="nav-link" href="/DBUser/list">User Management</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-danger font-weight-bold" href="/logout">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-5">
    <h3 class="text-center">Welcome to Poseidon Capital Solutions</h3>
    <div class="row justify-content-center">
        <div class="col-md-6 text-center" sec:authorize="isAuthenticated()">
            <p class="logged-in-user mb-0 mr-2 mt-3">You are currently logged in as: <b th:inline="text" class="user">[[${#authentication.name}]]</b>
            </p>
            <p class="logged-in-user mb-3 mr-2 mt-3">Not your account? Please log out!</p>
            <form th:action="@{/logout}" method="POST" class="d-inline">
                <input type="submit" value="Logout" class="btn btn-outline-danger"/>
            </form>
        </div>
    </div>
</div>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/bidList/list">Bid List</a></h5>
                    <p class="card-text">View and update your bid list.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/curvePoint/list">Curve Points</a></h5>
                    <p class="card-text">View and update your curve points.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/rating/list">Ratings</a></h5>
                    <p class="card-text">View and update your ratings.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/trade/list">Trade</a></h5>
                    <p class="card-text">View and update your trades.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/ruleName/list">Rule</a></h5>
                    <p class="card-text">View and update your rules.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-3 "sec:authorize="hasAuthority('ROLE_ADMIN')">
            <div class="card h-100">
                <div class="card-body text-center">
                    <h5 class="card-title"><a href="/DBUser/list">User Management</a></h5>
                    <p class="card-text">Manage users in your system.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
